//全局颜色
@gray:#9a9a9a;
@black:#000;
@deepRed:#a00025;
@yellow:#ff6c00;
@leftspace:0.3rem;
@rightspace:0.3rem;
@topspace:0.2rem;
@bottomspace:0.2rem;

@border:1px solid #ccc;
.bt{border-top: @border;}
.br{border-right: @border;}
.bl{border-left: @border;}
.bb{border-bottom: @border;}
.border{border:@border;}

.yellow{color:@yellow;}
.tac{text-align: center;}
.white{color:white;}
.fs20{font-size: 0.2rem}
.fs24{font-size: 0.24rem}
.fs26{font-size: 0.26rem}
.fs28{font-size: 0.28rem}
.fs30{font-size: 0.3rem}
.gray{color: #9a9a9a;}
.black{color: #282828;}
.deepRed{color:@deepRed;}
.bgWhite{background: white;}
.titleBlack{color: #282828;}

.pl{padding-left: @leftspace}
.pr{padding-right: @rightspace}
.pt{padding-top: @topspace}
.pt{padding-bottom: @bottomspace}
.pa{padding: @topspace @leftspace}
.ml{margin-left: @leftspace}
.mr{margin-right: @rightspace}
.mt{margin-top: @topspace}
.mt{margin-bottom: @bottomspace}
.ma{margin: @topspace @leftspace}

.fl{float: left;}
.fr{float: right;}
.of{overflow: hidden;}
.tf{text-decoration: line-through}
.gg,.w100{  width: 100%;  }
.w50{  width: 50%;}
.lh25{line-height: 0.25rem}
.lh30{line-height: 0.3rem}
.lh35{line-height: 0.35rem}
.h40{line-height: 0.4rem}

.circle{border-radius: 50%}